*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    width: 50%;
    height: 70vh;
    margin: 5rem auto;
    background-color: purple;
    position: relative;
}

#container-text h2{
    font-size: 3rem;
}
#container-text h1{
    font-size: 5rem;
}

#add-age, #sub-age{
    padding: 1rem;
    margin: 1rem auto;
    position: relative;
    width: 20rem;
    display: block;
}

#clearBtn, #verify-age{
    padding: 1rem;
    width: 15rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
}