*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    width: 50%;
    height: 70vh;
    margin: 5rem auto;
    background-color: purple;
    position: relative;
}

#add-age, #sub-age{
    padding: 1rem;
    margin: 4rem auto;
    position: relative;
    width: 20rem;
    display: block;
}

#clearBtn, #verify-age{
    padding: 1rem;
    width: 15rem;
    margin: 0 0.5rem;
}